body{
    padding:0;
    margin:0;
    font-family: 'Lora', serif;
}
header{
text-align: center; 
}
.card{
    margin: auto;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-top:3px #1CB0F6 solid;
}

.container{
    padding:1.5em;
    text-align: center;
}

#headword{
    font-size: 2rem;
    margin: 0;
    border-bottom: 5px solid #1CB0F6;
}
#part-of-speech{
    font-style: italic;
  
}
#phonetics{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    position: relative;
}

#soundLink{
  position: absolute;
  font-size: 2rem;
  vertical-align: middle;
}

#soundLink:hover{
font-size: 3em;
cursor: pointer;
}

.definitions{
    margin-left: -1.5rem;
    text-align: left;
    font-size: 0.75rem;
    padding:0.5rem 0
}
.examples{
  text-align: left;
  font-size: 0.75rem;
  margin-left: -2.5rem;
  padding:0.5rem 0;
  font-style: italic;
}


.sub-headings{
    text-decoration: underline;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1.25rem;
}
#dropdown{
    font-size: 2rem;
    margin-left: 0.25em;
    vertical-align: middle;
}


ul{
    list-style: none;
}

li{
    font-size: 1.5rem;
    padding-right: 1.5em;
}
.hide{
    display: none;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  overflow: visible;
  padding: 13px 16px;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}


/* tabs */

.tabs {
    display: flex;
    margin-right:0.5rem;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .tablinks {
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .tablinks:hover {
    background-color: #d9d9d9;
  }
  
  .tablinks.active {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .tabcontent {
    display: none;
   
  }
  
  .tabcontent.active {
    display: block;
  }
  
  /* media queries */

  @media screen and (min-width:500px) {
    .definitions{
      margin-left: -0.5rem;
      font-size: 1.5rem;
     
  }
  .examples{
    
    font-size: 1.5rem;
   
  }
 

  header{
    font-size: 2rem;;
  }
  #headword{
    font-size: 3rem;
  }
  
  
  }
  .circle-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    color: white;
  }
  
  .circle-icon.color-1 {
    background-color: #f44336;
  }
  
  .circle-icon.color-2 {
    background-color: #e91e63;
  }
  
  .circle-icon.color-3 {
    background-color: #9c27b0;
  }
  
  .circle-icon.color-4 {
    background-color: #673ab7;
  }
  
  .circle-icon.color-5 {
    background-color: #3f51b5;
  }
  
  .circle-icon.color-6 {
    background-color: #2196f3;
  }
  
  .circle-icon.color-7 {
    background-color: #00bcd4;
  }
  
  .circle-icon.color-8 {
    background-color: #009688;
  }
  
  .circle-icon.color-9 {
    background-color: #4caf50;
  }
  .circle-icon.color-10 {
    background-color: #c0e00a;
  }
  .show-more{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 16px;
  }